body{
	font-family:Helvetica, Arial, sans-serif;
	background: url(/images/bg.png);
	margin:0 auto;
}

a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
a:visited {
	color: #2c3e50;
	font-weight:bold;
	text-decoration:none;
}
a:active,
a:hover {
	color: #2c3e50;
	text-decoration:underline;
}
#Rahmen {
  border-width:0px;
  border-style:solid;
  border-color:white;
  padding:1em;
  text-align:justify;
  background-color:#666
}